{% extends "cas/base.html" %}
{% block content %}

	<h1>User Registration<h1>
	<h2>= Center for Academic Success =</h2>
	<p>Our mission is to help and promote students thrive academically at Hawaii Pacific University.</p>
		<p>Welcome to Tutoring</p>

	<div class="content-section">
		<form method="POST"> 
			{% csrf_token %}
			<fieldset class='form-group'>
				<legend class='border-bottom mb-4'>Student Registration</legend>
				{{form}}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type='submit'>Sign Up</button>
			</div>
		</form>
	</div>
{% endblock content %}

